
$HeaderHeight: 2em;
$FootHeight: 2em;
$MaxBodyWidth: 1024px;

html {
    text-align: center;


    body {
        max-width: $MaxBodyWidth;
        margin: auto;
        text-align: left;
        background-color: silver; 
        //border-style: solid;
        //border-width: 2px;
    }

    header, nav, main, footer {
        clear: both;
    }

    footer {
        text-align: center;
    }

    main {
        min-height: 300px;
    }

    input, textarea {
        max-width: 78em;
    }


}
